.activity-container {
    display: flex;
    flex-wrap: wrap;
}

.activity-content > .public-image {
    width: 45%;
    float: right;
    margin-left: 1rem;
    margin-bottom: 0rem;
}

.activity-content > h1 {
    font-size: 1.75rem;
}

.activity-content > img {
    float: right;
    width: 45%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #072E74;
}

.activity-container > .button-link {
    margin: auto auto 0 auto;
}

.activity-details-container > .public-image {
    min-width: 50%;
    width: 50%;
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.activity-details-container > .public-image > img {
    width: 100%;
}

.activity-details {
    font-size: 1.25rem;
    margin: 1rem 0rem 0rem 1rem;
}