.activity-container {
    display: flex;
    flex-wrap: wrap;
}

.activity-content > .public-image {
    width: 45%;
    float: right;
    margin-left: 1rem;
    margin-bottom: 0rem;
}

.activity-content > h1 {
    font-size: 1.75rem;
}

.activity-content > img {
    float: right;
    width: 45%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #072E74;
}

.activity-container > .button-link {
    margin: auto auto 0 auto;
}