.breadcrumb {
    display: flex;
    flex-wrap: nowrap;
}

.breadcrumb > p {
    font-size: 1.25rem;
    margin-right: 0.5rem;
}

.breadcrumb > p > a {
    text-decoration: none;
    border-bottom: 1px solid #072E74;
}
.breadcrumb > p > a:hover {
    color: #FFF8D8;
    border-bottom: 1px solid #FFF8D8;
}

.body-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    gap: 1rem;
}
