html {
    font-size: 16px;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    background: #6DB9D5;
}

/* LINKS */
a {
    color: #072E74;
}

a:hover {
    color: #A4C100;
}

/* LINK LISTS */
.link-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link-list > li {
    margin: 0;
    padding: 0;
}

.link-list > li > a {
    text-decoration: none;
    color: #072E74;
}

.link-list > li > a:hover {
    text-decoration: underline;
    color: #6DB9D5;
}

/* HEADERS */
h1, h2 {
    margin: 0;
    padding: 0;
}

/* MISC */
hr {
    border-color: #072E74;
}