html {
    font-size: 16px;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    background: #6DB9D5;
}

body:last-child {
    margin-bottom: 1rem;
}

/* LINKS */
a {
    color: #072E74;
}

a:hover {
    color: #A4C100;
}

.button-link {
    display: block;
    width: 20%;
    border: 1px solid #072E74;
    background: #6DB9D5;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
}

.button-link:hover {
    background: #A4C100;
    color: #FFF8D8;
}

/* LINK LISTS */
.link-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link-list > li {
    margin: 0;
    padding: 0;
}

.link-list > li > a {
    text-decoration: none;
    color: #072E74;
}

.link-list > li > a:hover {
    text-decoration: underline;
    color: #6DB9D5;
}

/* BREADCRUMB NAVIGATION */
.breadcrumb {
    display: flex;
    flex-wrap: nowrap;
}

.breadcrumb > p {
    font-size: 1.25rem;
    margin-right: 0.5rem;
}

.breadcrumb > p > a {
    text-decoration: none;
    border-bottom: 1px solid #072E74;
}

.breadcrumb > p > a:hover {
    color: #FFF8D8;
    border-bottom: 1px solid #FFF8D8;
}

/* BODY CONTENT */
.body-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    gap: 1rem;
}

.body-span2 {
    grid-column: auto / span 2;
    border: 1px solid #072E74;
    background: #FFF8D8;
}

/* CONTENT CARDS */
.card {
    border: 1px solid #072E74;
    background: #FFF8D8;
    padding: 1rem;
}

/* HEADERS */
h1, h2 {
    margin: 0;
    padding: 0;
}

h1 {
    color: #072E74;
}

h2 {
    color: #A4C100;
}

/* MISC */
hr {
    border-color: #072E74;
}

/* PUBLIC IMAGES */
.public-image > img {
    width: 100%;
    border: 1px solid #072E74;
}

.public-image > p {
    font-size: 0.8rem;
    text-align: right;
    margin: 0.25rem;
}

/* TABLES */
.column-1 {
    width: 25%;
}

.column-2 {
    width: 70%;
}

.row-title {
    padding-right: 1rem;
}

.row-title > strong {
    color: #072E74;
}
