.event-container > .public-image {
    min-width: 50%;
    width: 50%;
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.event-container > .public-image > img {
    width: 100%;
}

.event-details-table {
    font-size: 1.25rem;
    margin: 1rem 0rem 0rem 1rem;
}

.row-title {
    padding-right: 1rem;
}

.row-title > strong {
    color: #072E74;
}
