.slides-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 1rem;
}

.slides-container > .public-image {
    min-width: 65%;
}

.slide-content {
    margin-left: 1rem;
}

.home-links-heading {
    display: flex;
    align-items: center;
}

.home-links-heading > a {
    margin-left: auto;
    font-size: 1rem;
}

.home-links-item {
    margin-top: 1rem;
}

.home-links-item > p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 0.5rem;
    margin-left: 1.5rem;
}

.home-links-item > a {
    display: block;
    width: 9ch;
    margin-left: auto;
}