.lodging-locations-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
}

.lodging-type > h1 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.lodging-location {
    border: 1px solid #6DB9D5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.lodging-location img {
    border-width: 0px;
    border-bottom: 1px solid #6DB9D5;
}

.lodging-location > h2 {
    margin: 1rem 0.5rem 0rem 0.5rem;
}

.lodging-location > p {
    margin: 0.5rem;
}

.lodging-location > .button-link {
    width: 35%;
    margin: auto auto 0.5rem auto;
}

.lodging-details {
    margin: 0.5rem;
    table-layout: fixed;
}

.lodging-details td {
    vertical-align: text-top;
}

.row-title > strong {
    color: #072E74;
}
